@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,300&display=swap');

a {
  transition: all 0.15s ease;
}

a:hover {
  color: #778899;
  text-decoration: none;
}

h2 {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
}

p {
  font-family: 'Gentium Book Plus', serif;
  font-weight: 500;
}

.container-pengumuman {
  text-align: -webkit-center;
}

.shadow-pengumuman {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.container-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500 bold;
} */

/* p {
  font-family: 'Poppins', sans-serif;
  font-weight: 500 bold;
} */

.shadow-menu {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.center {
  text-align: -webkit-center;
}

hr.style-one {
  width: 100%;
  border: 0;
  height: 2px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
